.contact-section {
  background-image: url(https://unsplash.com/photos/h8v1mpLmGU0/download?force=true);
  background-attachment: scroll;
  margin-top: 4rem;
  padding-top: 4rem;
  position: relative;

  .contact-mf {
    margin-top: 4rem;
  }
}