

.navbar {
  background-color: #fff;
  transition: all .5s ease-in-out;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  &.trans-bg {
    background-color: transparent;
    .navbar-brand:visited {
      color: #fff;
    }
    .navbar-nav .nav-link {
      color:#fff;
      &:visited {
        color:#fff;
      }
    }
    .navbar-toggler span {
      background-color: #fff;
    }
  }
  .reg-bg {
    background-color: #fff;
  }
  &.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;

    
  }
  // Hamburger
  .navbar-toggler {
    position: relative;
    border:none;

    &:focus,&:hover {
      outline-style: none;
    }
    span {
      display: block;
      background-color: #1b1b1b;
      height: 3px;
      width: 25px;
      margin-top: 4px;
      margin-bottom: 4px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      left: 0;
      opacity: 1;
      

      &:nth-child(1),
      &:nth-child(3) {
        transition: -webkit-transform .35s ease-in-out;
        transition: transform .35s ease-in-out;
        transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
      }
    }

    &:not(.collapsed) span:nth-child(1) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      opacity: 0.9;
    }
    &:not(.collapsed) span:nth-child(2) {
      height: 12px;
      visibility: hidden;
      background-color: transparent;
    }
    &:not(.collapsed) span:nth-child(3) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      opacity: 0.9;
    }
  }

  .navbar-brand {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.6rem;

    &:hover {
      color: var(--color-primary);
    }

    &:visited {
      color: var(--color-primary);

    }
  }
  .navbar-nav {
    .nav-link {
      color: var(--color-primary);
      font-weight: 600;
      font-size: 1rem;
      margin-right: 20px;
      text-transform: uppercase;
      position: relative;
      
      &::before {
        content: '';
        position: absolute;
        margin-left: 0px;
        width: 0%;
        bottom: 0;
        left: .5rem;
        height: 2px;
        transition: all 500ms ease;
        background-color: #fff;
        @media (max-width:781px) {
          & {
            left: 0;
          }
        }
      }
      
      
      &:visited {
        color: var(--color-primary);

      }

      &:hover {
        color: var(--color-primary);
        &::before {
          width: 35px;
        }
      }
    }
  }
  &.navbar-reduce {
    .nav-link {
      &::before {
        background-color: var(--color-primary);
      }
    }
  }
}

