.header {
  background-image: url(https://unsplash.com/photos/ZgZsKFnSbEA/download?force=true);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;

  @media (max-width: 1024px) {
    & {
      background-attachment: scroll;
    }
  }
}