.header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  position: relative;

  @media (max-width: 1024px) {
    & {
      background-attachment: scroll;
    }
  }
  
}