.header {
  background-image: url(../../img/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:top;

  @media (max-width: 1024px) {
    & {
      background-attachment: scroll;
    }
  }
}