.services {
  .title-box {
    text-align: center;
  }
  .ico-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .service-icon {
      height: 100px;
      width: 100px;
    }
  }
  
}